body {
  margin: 0;
  background-color: rgb(50, 50, 50);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title{
  position: absolute;
  top: 5px;
  left: 10px;
  text-decoration: none;
  color: white;
}


.win-message h6, .win-message h4, .moves-counter h5{

  margin-bottom: 0;

}
  .win-message, .moves-counter{
  padding-top: 10x;
  margin-top: 30px;
  text-align: center;
  color: white;
}

.rules
{
  background-color: #f3f3f3;
  padding: 10px;
  border: solid 2px rgb(216, 216, 216);
  border-radius: 15px ;
  font-size: 14px;
  width: 20%;
  position: absolute;
  left: 30px;
  top: 100px
}


.lang-switch{
  float: right;
}


.board-container{
  width: 100%;
  text-align: center;
}


.reset-container{
width: 75%;
text-align: right;
}

.reset-button{
color: white;

}

canvas{
  border: solid 3px rgb(255, 255, 255);
}

button:focus{
box-shadow: none !important ;
}

.on{
  opacity: 100%;
  color: white;
}

.off{
  opacity: 50%;
  color: white;
}

/*   ERROR  STYLE   */

.mainError {
  text-align: center;
  width: 100%;
  margin-top: 25%;
}

.mainError h1 {
  color: white;
  padding: 20px 0;
  background-color: rgb(80, 80, 80);
  text-align: center;
  font-size: medium;
}

